DMARC dns is not capitalized


RFC7489 section 6.4 https://datatracker.ietf.org/doc/html/rfc7489#section-6.4 says : 

```
     dmarc-version   = "v" *WSP "=" *WSP %x44 %x4d %x41 %x52 %x43 %x31
```

which means that v=DMARC1; should be capitalized
AlternC does not capitalize it.



fixed at 2e1fbd374 by Kienan Stewart

sorry for the noise ;) 
